<h3>My Favorite TV Shows</h3>
{{#linkTo shows.add class="btn btn-info"}}
	<i class="icon-plus-sign"></i> 
  Add
{{/linkTo}}
<table class="table table-hover">
	<thead>
		<tr>
			<th>Title</th>
      <th class="hidden-phone hidden-tablet">Network</th>
			<th>Category</th>
      <th class="hidden-phone hidden-tablet">Year</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{{#each show in controller}}
		<tr>
			<td>
				{{unbound show.title}}
			</td>
      <td class="hidden-phone hidden-tablet">
        {{unbound show.network}}
      </td>
      <td>
        {{unbound show.category}}
      </td>
      <td class="hidden-phone hidden-tablet">
        {{unbound show.year}}
      </td>
			<td>
				{{#linkTo show show class="btn btn-small"}}
					<i class="icon-eye-open"></i> <span class="hidden-phone hidden-tablet">Details</span>
				{{/linkTo}}
				{{#linkTo show.edit show class="btn btn-small"}}
					<i class="icon-edit"></i> <span class="hidden-phone hidden-tablet">Edit</span>
				{{/linkTo}}
				{{#linkTo show.remove show class="btn btn-small btn-warning"}}
					<i class="icon-remove"></i> <span class="hidden-phone hidden-tablet">Remove</span>
				{{/linkTo}}
			</td>
		</tr>
		{{else}}
		<tr>
			<td colspan="5">
				<div class="well">
					No record could be found
				</div>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>